/apps/cowswap-frontend/src/modules/affiliate/ @kernelwhisperer
/apps/cowswap-frontend/src/pages/Account/AffiliatePartner.tsx @kernelwhisperer
/apps/cowswap-frontend/src/pages/Account/AffiliateTrader.tsx @kernelwhisperer
