node_modules/
dist/
build/
coverage/
.*
/*-lock.json
cypress/videos
cypress/screenshots
cypress/fixtures/example.json
cypress-custom/videos
cypress-custom/screenshots
cypress-custom/fixtures/example.json
.vercel

# Generated
src/libs/abis/src/generated