# See https://help.github.com/ignore-files/ for more about ignoring files.

# generated contract types
/src/uniswap/types/v3
/src/uniswap/abis/types
/src/uniswap/lib/locales/**/*.js
/src/uniswap/lib/locales/**/en-US.po
/src/uniswap/lib/locales/**/pseudo.po
/src/uniswap/locales/**/*.js
/src/uniswap/locales/**/*.ts
/src/uniswap/locales/**/*.json
/src/uniswap/locales/**/en-US.po
/src/uniswap/locales/**/pseudo.po
/src/uniswap/state/data/generated.ts

# dependencies
/node_modules

# testing
/coverage
cypress.env.json

# builds
/build
/dts
/cosmos-export
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

/.netlify

npm-debug.log*
yarn-debug.log*
yarn-error.log*

notes.txt
.idea/

.vscode/

package-lock.json

cypress/videos
cypress/screenshots
cypress/fixtures/example.json
cypress-custom/videos
cypress-custom/screenshots
cypress-custom/fixtures/example.json

.yalc*
yalc.lock

# public
public/version.json
