# generated stuff
/src/state/data/generated.ts
build
.git
.github
src/**/*.d.ts
src/**/docs/*
src/abis
src/legacy/abis
src/legacy/types
CHANGELOG.md

# inherited from uniswap, better not touch it
public_uniswap/index.html
public/index.html

# Every commit this is changed. NO MORE!
tsconfig.json

# local stuff
.yalc
.vscode
