# Enables mock mode (default = true)
MOCK=true

# Enables autoconnect for mock mode (default = true)
AUTOCONNECT=true

# Public IPFS gateway
REACT_APP_IPFS_READ_URI=https://ipfs.io/ipfs

# Sentry
#REACT_APP_EXPLORER_SENTRY_DSN='https://<url>'

# Orderbook API Endpoints
#REACT_APP_ORDER_BOOK_URLS='{"1":"https://YOUR_HOST","100":"https://YOUR_HOST","5":"https://YOUR_HOST"}
