name: 'Deploy: files.cow.fi'

on:
  push:
    branches:
      - main
    paths:
      - 'static-files/public/**'
  workflow_dispatch: # Manual trigger

# Required for authenticating with AWS IAM
permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    name: Deploy to files.cow.fi
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@b47578312673ae6fa5b5096b330d9fbac3d116df # v4.2.1
        with:
          role-to-assume: arn:aws:iam::693696263829:role/cow-files-github-action-role
          role-session-name: githubactionsession
          aws-region: eu-central-1

      - name: Upload to S3
        run: |
          aws s3 sync static-files/public/ s3://files.cow.fi/cow-files/ \
            --delete \
            --exclude ".DS_Store" \
            --exclude "*.tmp" \
            --exclude "*.temp"

      - name: Invalidate CloudFront cache
        run: |
          aws cloudfront create-invalidation \
            --distribution-id $DIST_ID \
            --paths "/cow-files/*"
        env:
          DIST_ID: ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID }}
