name: Deployment

on:
  # build when pushing to main/develop, or create a release
  push:
    branches: [main, develop]
    tags: [cowswap-v*, explorer-v*]
  workflow_dispatch: # Manually trigger it via UI/CLI/API
    inputs:
      app:
        description: App to deploy
        required: true
        type: choice
        options:
          - COWSWAP
          - EXPLORER
          - ALL
  pull_request:
    types: [opened, synchronize]

jobs:

  vercel-dev:
    # Deploys to Vercel dev environment
    name: Vercel dev
    if: github.ref == 'refs/heads/develop'
    uses: ./.github/workflows/vercel.yml
    secrets: inherit
    strategy:
      matrix:
        app: [EXPLORER, COWSWAP]
    with:
      env_name: dev
      app: ${{ matrix.app }}

  vercel-pre-prod:
    # Deploys to Vercel staging and barn environments only when there is a tag for CowSwap or Explorer
    name: Vercel pre-prod
#    if: startsWith(github.ref, 'refs/tags')
    uses: ./.github/workflows/vercel.yml
    secrets: inherit
    strategy:
      matrix:
        env_name: [barn, staging] # deploys both in parallel
    with:
      env_name: ${{ matrix.env_name }}
#      app: ${{ startsWith(github.ref, 'refs/tags/explorer') && 'EXPLORER' || 'COWSWAP' }}
      app: EXPLORER

  vercel-prod:
    # Deploys to Vercel prod environment
    name: Vercel prod
    if: github.event_name == 'workflow_dispatch'
    uses: ./.github/workflows/vercel.yml
    secrets: inherit
    with:
      env_name: prod
      app: ${{ inputs.app }}
