name: 'NPM: Publish'

on:
  workflow_dispatch: # Manually trigger it via UI/CLI/API
    inputs:
      lib:
        description: Lib to publish
        required: true
        type: choice
        options:
          - events
          - types
          - permit-utils
          - widget-lib
          - widget-react
          - iframe-transport
          - hook-dapp-lib
          # Add more publishable libs here
      tag:
        description: NPM package tag
        required: false
        type: choice
        options:
          - latest
          - next
        default: latest

env:
  NODE_VERSION: lts/jod
  LIB: ${{ inputs.lib }}
  DESTINATION_PATH: dist/libs/${{ inputs.lib }}

jobs:
  publish-npm:
    name: Publish NPM package
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - name: Install pnpm
        uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4.1.0

      - name: Set up node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ env.NODE_VERSION }}
          registry-url: 'https://registry.npmjs.org'
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build
        run: npx nx build $LIB

      - name: Copy .npmrc to destination
        run: cp $NPM_CONFIG_USERCONFIG $DESTINATION_PATH

      - name: Copy README
        run: cp libs/$LIB/README.md $DESTINATION_PATH

      - name: Publish
        working-directory: ${{ env.DESTINATION_PATH }}
        run: npm publish --tag $TAG --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          TAG: ${{ inputs.tag }}
