on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

name: release-please

jobs:
  release-please:
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: google-github-actions/release-please-action@v3.7.10
        name: release
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          release-type: node
          package-name: release-please-action
          default-branch: main

  vercel-pre-prod:
    # Deploys to Vercel staging and barn environments
    name: Vercel pre-prod
    needs: [ release-please ]
    if: ${{ needs.release-please.outputs.release_created }}
    uses: ./.github/workflows/vercel.yml
    secrets: inherit
    strategy:
      matrix:
        env_name: [ barn, staging ] # deploys both in parallel
    with:
      env_name: ${{ matrix.env_name }}

